.checkout-page{
    width: 100%;
    padding-bottom: 2em;
}

.checkout-nav{
     display: grid;
grid-template-columns: repeat(3,1fr);
width: 100%;
text-align: center;
padding: 1em 0;
margin-bottom: 4em;
}
.checkoutlogo{
   padding-left: 3em;
   padding-top: 1em;
}

.checkout-body{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 3em;
}
.checkout-body label{
    font-size: .9em;
}

.checkout-sub1{
    grid-area: 1 / 1 / span 1 / span 3;
}

.checkout-address{
margin-bottom:3em;


}
.checkout-address h1{
margin-bottom: .7em;
font-size: 1.7em;

}

.checkout-delivery-option{

    margin-bottom: 4em;
}
.checkout-delivery-option h1{
       font-size: 1.7em;
       margin-bottom: .5em;
}
.checkout-delivery-option input[type='radio']{
     display:inline-block;
     margin-right: .6em;
      accent-color: #ff0000;
      width: 1.2em;;
      height: 1.2em;
}
.checkout-delivery-option p{
     margin-bottom: .3em;
}

.payment input[type='radio']{
        margin-right: .6em;
        accent-color: #ff0000;
         width: 1.2em;;
      height: 1.2em;
}
.payment h1{
        font-size: 1.7em;
       margin-bottom: .5em;
}

@media screen and (max-width: 528px) {
    .checkout-body{
        grid-template-columns: 1fr;
        padding-left: 0;
    }
    .checkout-page{
        background-color: #ffffff;
    }
    .checkout-address button{
font-size: 1.2em;
    }
    .checkout-address.button{
font-size: 1em;
    }
    .payment{
        margin-bottom: 2em;
    }
 
    .checkout-nav{
        width: 100%;
        display: flex;justify-content: center;
    }
.checkoutlogo{
    display: none;
}
.checkoutheadtext h1{
    width: 100%;
    display: flex;
    justify-content: center;
}
}
