.search-input{
    padding:0 0.6em;
    width:25em;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
}

.search-input input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0.5em;
    background-color: transparent;
}

@media screen and (max-width:768px) {
    .search-input{
          width:15em;
            padding:0 0.4em;
            margin: 0;
    }
    .search-input input{
        padding: .3em;
        font-size: .7em;
    }
}
@media screen and (max-width:528px) {
    .search-input{
          width:13em;
            padding:0 0.4em;
            margin: 0;
    }
    .search-input input{
        padding: .3em;
        font-size: .7em;
    }
}
@media screen and (max-width:360px) {
    .search-input{
          width:11em;
            padding:0 1em;
            margin:  0;
    }
    .search-input input{
        padding: .2em;
        font-size: .6em;
    }
    .searchbuttonwrap{
        font-size: 1em;
    }
}
@media screen and (max-width:320px) {
    .search-input{
          width:10em;
            padding:0 1em;
            margin:  0;
    }
    .search-input input{
        padding: .2em;
        font-size: .6em;
    }
    .searchbuttonwrap{
        font-size: 1em;
    }
}
