.bottom-nav{
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    padding: 0.7em;
    border-radius: 3px;
    margin-top: 1em;
}
.bottom-nav a{
   color: #ffffff;
   text-decoration: none;
}
.bottom-nav a:hover{
color: #d13606;
}

.all-categories{
    display: flex;
}
.all-categories h3{
  margin: 0 0.7em 0 0;
}
.all-categories-icon{
    color: #ffffff;
 margin: 0 1em 0 1em;
 padding-top: 0.1em;
}

@media screen and (max-width:768px) {
.bottom-nav{
  display: none;
}
.bottom-nav.active{
  display: block;
  width: 100%;
  height: 100vh;
}
}
